<div class="card">
  <div class="card-body">
    <span class="card-title"><strong><%= link_to comment.user.name, comment.user %></strong></span><br>
    <small class="card-subtitle text-muted">Updated <%= time_ago_in_words(status.updated_at) %> ago</small><br>
    <p class="card-text"><%= comment.text %></p>
    <% if current_user == comment.user %>
      <%= link_to 'Edit', edit_comment_path(status), class: 'card-link' %>
      <%= link_to 'Delete', comment, method: :delete, class: 'card-link' %>
    <% end %>
  </div>
</div>
